*.bak
*-bak
*.o
*.lst
*.bin
*.s19
*.S19
*.opt
*.pp
*.exe
*.aux
*.log
doc/manual/manual.pdf
software/emu/kolibri
software/firmware/tools/char2asm
software/firmware/tools/crumbs
*.vcd
*.vvp
*.DS_Store
hardware/cpld/db
hardware/cpld/incremental_db
hardware/cpld/simulation
hardware/cpld/output_files/*.rpt
hardware/cpld/output_files/*.cdf
hardware/cpld/output_files/*.done
hardware/cpld/output_files/*.summary
hardware/cpld/output_files/*.jdi
hardware/cpld/kolibri.qws
hardware/cpld2/db
hardware/cpld2/incremental_db
hardware/cpld2/simulation
hardware/cpld2/output_files/*.rpt
hardware/cpld2/output_files/*.cdf
hardware/cpld2/output_files/*.done
hardware/cpld2/output_files/*.summary
hardware/cpld2/output_files/*.jdi
hardware/cpld2/output_files/*.fit.smsg
hardware/cpld2/cpld2.qws
