*.bak
*.o
*.lst
*.bin
*.s19
*.S19
*.opt
*.pp
*.exe
*.aux
*.log
*.pdf
emu/kolibri
firmware/tools/char2asm
firmware/tools/crumbs
*.vcd
*.vvp
*.DS_Store
cpld/db
cpld/incremental_db
cpld/simulation
cpld/output_files/*.rpt
cpld/output_files/*.cdf
cpld/output_files/*.done
cpld/output_files/*.summary
cpld/output_files/*.jdi
cpld/kolibri.qws
